In [47]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [48]:
# Check Pandas version.

pd.__version__

'2.2.3'

In [49]:
# Check if everything is ok with the csv file.

df = pd.read_csv("source_data/yellow_tripdata_2021-01.csv")
df

/var/folders/9g/5v31tdhn30jdr6gn0vm5361c0000gn/T/ipykernel_18049/2549651837.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("source_data/yellow_tripdata_2021-01.csv")

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.00,3.00,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.00,0.50,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.00,0.50,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.00,0.50,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.50,0.50,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.80,NaN,NaN,135,82,NaN,21.84,2.75,0.5,0.00,0.0,0.3,25.39,0.0
1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,NaN,NaN,42,161,NaN,26.67,2.75,0.5,0.00,0.0,0.3,30.22,0.0
1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,NaN,NaN,14,106,NaN,25.29,2.75,0.5,0.00,0.0,0.3,28.84,0.0
1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,NaN,NaN,175,216,NaN,28.24,2.75,0.5,0.00,0.0,0.3,31.79,0.0
1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,NaN,NaN,248,168,NaN,20.76,2.75,0.5,0.00,0.0,0.3,24.31,0.0

In [50]:
# Describes how the schema of the table looks like in SQL.

print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [51]:
# Connection to Postgres with sqlalchemy. Format:
# "database_type://user:password@hostname:port/database_name"

engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [52]:
# Since our CSV file is too large (1.6M rows), let's divide it into smaller chunks
# To do this, we'll use an iterator from Pandas - iterator=True

df_iter = pd.read_csv("source_data/yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [53]:
# Show head of the dataframe

df.head(n=10)

# df.head(n=0) # returns only table header

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
5,1.0,2021-01-01 00:16:29,2021-01-01 00:24:30,1.0,1.60,1.0,N,224,68,1.0,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5
6,1.0,2021-01-01 00:00:28,2021-01-01 00:17:28,1.0,4.10,1.0,N,95,157,2.0,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0
7,1.0,2021-01-01 00:12:29,2021-01-01 00:30:34,1.0,5.70,1.0,N,90,40,2.0,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5
8,1.0,2021-01-01 00:39:16,2021-01-01 01:00:13,1.0,9.10,1.0,N,97,129,4.0,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0
9,1.0,2021-01-01 00:26:12,2021-01-01 00:39:46,2.0,2.70,1.0,N,263,142,1.0,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5

In [54]:
# Insert only table definition without rows to Postgres (n=0).
# If database with name exists, we want it to be replaced (if_exists="replace")

df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [55]:
# This loop iterates through df_iter until an error is thrown.
# It loads data to Postgres in chunks and prints elapsed time.

while True:
    t_start = time()

    # Get dataframes fromCSV one by one. Each time we call next() function, it returns
    # the next chunk from the df_iter iterator, incremented by chunksize

    df = next(df_iter)

    # Since tpep_pickup_datetime and tpep_dropoff_datetime are of a TEXT type,
    # we convert them to datetime using to_datetime Pandas function

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    # Then we want to upload dataframes from iterator one by one.
    # In this case we don't want to replace the table, but to append new chunks.

    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

    t_end = time()

    print(f"Inserted another chunk, took {round(t_end - t_start, 3)} seconds")

Inserted another chunk, took 5.144 seconds
Inserted another chunk, took 5.104 seconds
Inserted another chunk, took 4.804 seconds
Inserted another chunk, took 4.886 seconds
Inserted another chunk, took 4.801 seconds
Inserted another chunk, took 4.83 seconds
Inserted another chunk, took 4.748 seconds
Inserted another chunk, took 4.761 seconds
Inserted another chunk, took 4.776 seconds
Inserted another chunk, took 4.798 seconds
Inserted another chunk, took 4.921 seconds
Inserted another chunk, took 4.8 seconds

/var/folders/9g/5v31tdhn30jdr6gn0vm5361c0000gn/T/ipykernel_18049/300643821.py:10: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk, took 4.801 seconds
Inserted another chunk, took 3.146 seconds

StopIteration: